.settingsPanel {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 16px;
}

.currentElementAbout {
}

.settingsForm {
  /* Make the settings form take up whatever space it has until bottom */
  /* flex-grow: 1; */
}

.submitHolder {
  /* outline: 1px solid red; */
  padding: 4px;
  display: flex;
  justify-content: center;
}

.validationErrorMsg {
  padding: 0.5rem;
  color: orangered;
  font-family: var(--mono-fonts);
}

.deleteButton {
  /* Sends it to the bottom of the panel */
  margin-top: auto;
}
