.settingsPanel {
  --vertical-gap: var(--vertical-spacing);
  display: flex;
  flex-direction: column;
  padding-inline: 16px;
  padding-block-start: var(--vertical-gap);
  height: 100%;
}

.currentElementAbout {
  /* Don't let the path size change */
  flex-shrink: 0;
  /* Add padding on the bottom so our whitespace on top and bottom is equal */
  padding-bottom: var(--vertical-gap);
}

form.settingsForm {
  flex: 1;
  height: 100%;
  overflow: auto;
  --deliniation: 1px solid var(--rstudio-white);
  isolation: isolate;
}

.settingsInputs {
  border-top: var(--deliniation);
  overflow: auto;
}

/* Both the title and action buttons on top and bottom should always be visible */
.settingsHeader,
.buttonsHolder {
  position: sticky;
  z-index: 2;
}
.settingsHeader {
  top: 0;
  background-color: var(--light-grey);
  padding-block: var(--vertical-gap);
  border-bottom: var(--deliniation);
}

.buttonsHolder {
  bottom: 0;
  border-top: var(--deliniation);
  background-color: var(--light-grey);
  padding-block: var(--vertical-gap);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: var(--vertical-spacing);
}

.buttonsHolder > Button {
  height: 40px;
  width: 100%;
  border: none;
}

.validationErrorMsg {
  padding: 0.5rem;
  color: var(--red);
  font-family: var(--mono-fonts);
}
