/* Styles common to multiple input components */
input {
  padding: 6px;
  border: 1px solid var(--light-grey);
}

.container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 100%;
  min-width: 0;
  width: 100%;
  position: relative;
}

.label {
  display: block;
  padding-bottom: 3px;
  font-weight: 300;
  width: auto;
}

.container input {
  max-width: 100%;
  width: 100%;
}

input:disabled,
select:disabled {
  background-color: var(--light-grey);
  outline: 1px solid var(--grey, red);
  opacity: 0.25;
  cursor: not-allowed;
}

.mainInput {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.mainInput > input[type="checkbox"] {
  width: fit-content;
}
