/* Styles common to multiple input components */
input {
  padding: 6px;
  border: 1px solid var(--light-grey);
}

.container {
  --vertical-pad: var(--vertical-spacing);
  margin-top: var(--vertical-pad);
  margin-bottom: var(--vertical-pad);
  max-width: 100%;
  min-width: 0;
  width: 100%;
  position: relative;
  isolation: isolate;
}

.label {
  display: block;
  padding-bottom: 3px;
  font-weight: 300;
  width: auto;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  gap: 8px;
  text-transform: capitalize;
}

.label input[type="checkbox"] {
  width: fit-content;
  /* By shifting the box down a tiny bit we balance the vertical alignment */
  margin-bottom: -2px;
}

.container input {
  max-width: 100%;
  width: 100%;
}

input:disabled,
select:disabled {
  background-color: var(--light-grey);
  outline: var(--disabled-outline);
  opacity: 0.25;
  cursor: not-allowed;
}

.container[data-disabled="true"] {
  color: var(--disabled-color);
}

.mainInput {
  position: relative;
}

.container[data-disabled="true"] .mainInput::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: var(--corner-radius);
  border: var(--disabled-outline);
  background-color: var(--light-grey);
  z-index: 1;
  pointer-events: none;
}
.container[data-disabled="true"] .mainInput::after {
  content: "Default";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2;
}

.mainInput > input[type="checkbox"] {
  width: fit-content;
}
