.inputSection,
.wrappedSection {
  display: flex;
  gap: 5px;
  border: none;
}

.inputSection {
  flex-direction: column;
}

.sectionContainer {
  margin-block-start: 25px;
}

.wrappedSection {
  flex-wrap: wrap;
  justify-content: space-around;
}

.wrappedSection > * {
  /* width: 50px; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.wrappedSection input {
  max-width: unset;
}
