.radioContainer {
  display: grid;
  gap: 5px;
  justify-content: space-around;
  border: none;
  width: 100%;
}

/* Hide the little button icon because we take over the showing with outlines
and background colors */
.option > .radioInput {
  display: none;
}

.radioLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  border: 1px solid var(--light-grey);
  border-radius: var(--corner-radius);
  background-color: var(--rstudio-white);
  max-height: 105px;
  padding: 4px;
}

.radioLabel svg {
  height: 1.65rem;
  padding: 1px;
}

.radioLabel .optionIcon {
  display: grid;
  place-content: center;
}

.radioInput:checked + .radioLabel {
  outline: 3px solid var(--rstudio-blue);
  outline-offset: -2px;
  color: var(--rstudio-white);
  background-color: var(--rstudio-blue);
  font-weight: bold;
}

.radioInput:hover:not(:checked) + .radioLabel {
  outline: 2px solid var(--rstudio-blue);
}

/* When the user hovers over an icon for a second, fade out the icon and fade in
the label */
.radioInput:hover + .radioLabel::after,
.radioInput:hover + .radioLabel .optionIcon {
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 0.25s;
}

.radioInput + .radioLabel::after {
  content: attr(data-name);
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.radioInput:hover + .radioLabel::after {
  transition-timing-function: ease-in;
  opacity: 1;
}

.radioInput:hover + .radioLabel .optionIcon {
  transition-timing-function: ease-out;
  opacity: 0;
}
