fieldset {
  display: grid;
  gap: 5px;
  justify-content: space-around;
  border: none;
  width: 100%;
}

/* Hide the little button icon because we take over the showing with outlines
and background colors */
.option > input[type="radio"] {
  display: none;
}

.option label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  border: 1px solid var(--light-grey);
  border-radius: var(--corner-radius);
  background-color: var(--rstudio-white);
}

input[type="radio"]:checked + label {
  background-color: var(--rstudio-blue);
  color: var(--rstudio-white);
  font-weight: bold;
}

input[type="radio"]:hover + label {
  outline: 2px solid var(--rstudio-blue);
}
