fieldset {
  display: grid;
  gap: 5px;
  justify-content: space-around;
  border: none;
  width: 100%;
}

/* Hide the little button icon because we take over the showing with outlines
and background colors */
.option > input[type="radio"] {
  display: none;
}

.option label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  border: 1px solid var(--light-grey);
  border-radius: var(--corner-radius);
  background-color: var(--rstudio-white);
}
.option label .optionIcon {
  display: grid;
  place-content: center;
}

input[type="radio"]:checked + label {
  background-color: var(--rstudio-blue);
  color: var(--rstudio-white);
  font-weight: bold;
}

input[type="radio"]:hover + label {
  outline: 2px solid var(--rstudio-blue);
}

/* When the user hovers over an icon for a second, fade out the icon and fade in
the label */
input[type="radio"]:hover + label::after,
input[type="radio"]:hover + label .optionIcon {
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 0.25s;
}

input[type="radio"] + label::after {
  content: attr(data-name);
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

input[type="radio"]:hover + label::after {
  transition-timing-function: ease-in;
  opacity: 1;
}

input[type="radio"]:hover + label .optionIcon {
  transition-timing-function: ease-out;
  opacity: 0;
}
