.show_btn {
  margin: var(--size-md);
}

.modal {
  border: 1px solid grey;
  background-color: var(--rstudio-white);
  display: flex;
  flex-direction: column;
  border-radius: var(--corner-radius);
  overflow: scroll;
  padding-block: var(--size-lg);
  padding-inline: var(--size-xl);
  max-width: 800px;
  width: 99%;
}

.title {
  margin-block-end: var(--size-md);
}

.description {
  padding-inline-start: var(--size-md);
  margin-block: var(--size-md);
}

.code_holder {
  max-height: 70vh;
  overflow-y: scroll;
  margin-block: var(--size-sm);
}

.code_holder > * {
  padding: var(--size-md);
  background-color: var(--light-grey);
}

.code_holder > label {
  padding-block: var(--size-sm) 0;
  border-radius: var(--corner-radius) var(--corner-radius) 0 0;
  color: var(--rstudio-blue);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-block-start: var(--size-md);
}

.openButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-style: italic;
  gap: var(--size-sm);
}
