.error_fallback_container {
  display: grid;
  place-content: center;
  height: 100%;
}
.error_fallback {
  filter: drop-shadow(1px 1px 4px hsl(0deg 0% 0% / 0.25));
  padding: var(--size-lg);
  rotate: 3deg;
}
