.PlotPlaceholder {
  container-type: size;
  height: 100%;

  .plot {
    padding: 5px;
    --x-axis-h: 30px;
    --y-axis-w: 12px;
    --title-h: auto;
    --tick-length: 10px;
    --axis-color: var(--grey);
    --axis-border: 1px solid var(--axis-color);
    --main-color: var(--rstudio-blue);
    --hover-color: hsl(
      var(--rstudio-blue-h) var(--rstudio-blue-s)
        calc(var(--rstudio-blue-l) * 0.8)
    );
    --bar-spacing: 5px;
    --bar-roundness: var(--corner-radius);

    display: grid;
    height: 100%;

    grid-template-areas:
      ".  title"
      "y  main"
      ".  x";
    grid-template-columns: auto 1fr;
    grid-template-rows: var(--title-h) 1fr var(--x-axis-h);

    .title {
      padding-block: 5px;
      grid-area: title;
      display: grid;
      align-items: center;
      padding-inline: 10px;
    }

    .title:empty {
      display: none;
    }

    .x-axis {
      grid-area: x;
      counter-reset: axis-index;
      padding-inline: var(--bar-spacing);
      gap: var(--bar-spacing);
      border-top: var(--axis-border);
      .axis-tick {
        flex-direction: row;
        align-items: end;
        justify-content: center;
      }

      .axis-tick::after {
        width: var(--thickness);
        height: var(--tick-length);
        top: 0;
        left: calc(50% - var(--thickness) / 2);
      }
    }

    .y-axis {
      width: var(--y-axis-w);
      grid-area: y;
      flex-direction: column-reverse;
      border-right: var(--axis-border);
      counter-reset: axis-index;

      .axis-tick {
        padding-left: 2px;
        align-items: center;
        justify-content: start;
      }

      .axis-tick::after {
        height: var(--thickness);
        width: var(--tick-length);
        right: 0;
        top: calc(50% - var(--thickness) / 2);
      }

      .axis-tick::before {
        display: none;
      }
    }
    .plot-body {
      grid-area: main;
      gap: var(--bar-spacing);
      padding-inline: var(--bar-spacing);
      align-items: flex-end;

      .bar {
        flex: 1;
        background-color: var(--main-color);
        height: var(--value, "50%");
        border-radius: var(--bar-roundness);
      }

      .bar:hover {
        background-color: var(--hover-color);
      }
    }

    .x-axis,
    .y-axis,
    .plot-body {
      display: flex;
      overflow: hidden;
    }

    .axis-tick {
      --thickness: 2px;
      flex: 1;
      position: relative;
      display: grid;
    }

    counter-reset: axis-index;

    .axis-tick::before {
      counter-increment: axis-index;
      content: counter(axis-index);
    }

    .axis-tick::after {
      content: "";
      position: absolute;
      background-color: var(--axis-color);
    }
  }
}

// Wide
@container (min-width: 375px) {
  .PlotPlaceholder {
    .plot {
      --y-axis-w: 25px;

      .y-axis .axis-tick:before {
        display: block;
      }
    }
  }
}

// Medium width
@container (max-width: 375px) {
  .PlotPlaceholder {
    .plot {
      --y-axis-w: 12px;
      .plot-body {
        .bar:nth-child(even) {
          display: none;
        }
      }
      .x-axis .axis-tick:nth-child(even) {
        display: none;
      }
    }
  }
}

// Narrow
@container (max-width: 200px) {
  .PlotPlaceholder {
    .plot {
      --y-axis-w: 0px;
      .y-axis {
        display: none;
      }
      .x-axis .axis-tick:nth-child(even) {
        display: none;
      }
    }
  }
}

// short
@container (max-height: 175px) {
  .PlotPlaceholder {
    .plot {
      --x-axis-h: 0px;
      .x-axis {
        .axis-tick {
          display: none;
        }
      }
      .y-axis .axis-tick:nth-child(even) {
        display: none;
      }
    }
  }
}
