.item {
  margin-inline: 1rem;
  margin-block: 0.5rem;
  padding-inline: 1rem;
  padding-block: 0.25rem;
  font-weight: 500;
  background-color: var(--rstudio-blue);
  color: var(--rstudio-white, white);
  display: flex;
  align-items: center;
  border-radius: var(--corner-radius);
}

.isDeletable {
  justify-content: space-between;
}
