.dragBox {
  position: absolute;
  pointer-events: none;
  outline: 2px solid tomato;
}

.gridFeedbackBox {
  border: 3px solid var(--rstudio-blue, pink);
}

.cancelDragTooltip {
  font-size: 0.8rem;
  width: 80px;
  margin-top: 5px;
  margin-left: -40px;
  text-align: center;
  background: white;
  padding: 2px;
  box-shadow: var(--shadow);
  border: 1px solid var(--light-grey);
  border-radius: var(--corner-radius);
  color: var(--rstudio-grey);
}
