.categoryHeader {
  display: block;
  position: relative;
  isolation: isolate;
  margin-top: 18px;
}

.categoryHeader > span {
  padding-inline-end: 6px;

  background-color: var(--light-grey);
}

.categoryHeader > span::after {
  content: ":";
}

.categoryHeader::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--divider-color);
  z-index: -1;
  opacity: 0.5;
}
