.categoryHeader {
  display: block;
  text-align: center;
  position: relative;
  isolation: isolate;
  margin-top: 18px;
}

.categoryHeader > span {
  padding: 2px 8px;
  background-color: var(--light-grey);
  font-weight: bold;
}

.categoryHeader::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  z-index: -1;
  opacity: 0.5;
}
