.container {
  outline: 1px solid salmon;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  justify-content: var(--horizontalAlign);
  align-items: var(--verticalAlign);
}

.container > * {
  outline: 1px solid forestgreen;
}
