**/.DS_Store
**/.Rhistory

*.local
.Rproj.user
dist
dist-ssr
inst/doc
docs

**/how-to-videos-source/

# These always appear when I accidentally run yarn commands in the wrong directory
yarn.lock
.yarn/
.yarnrc.yml
node_modules/
**/esbuild/build/



inst/*/.turbo/