.tooltip_base {
  --tooltip-bg-color: var(--rstudio-white);
  border-radius: var(--corner-radius);
  background-color: var(--tooltip-bg-color);
  /* Use a backdrop filter to provide a tiny bit of lift off the background */
  filter: var(--simple-drop-shadow-filter);
  padding: 5px;
}

.popoverMarkdown {
  max-width: 300px;
}

.popoverMarkdown p:last-of-type {
  margin-bottom: 0;
}

.popoverMarkdown code {
  font-family: var(--mono-fonts);
}
