@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-color: #edf2f7;

  --rstudio-blue-h: 209;
  --rstudio-blue-s: 59%;
  --rstudio-blue-l: 66%;
  --rstudio-blue-hsl: var(--rstudio-blue-h) var(--rstudio-blue-s)
    var(--rstudio-blue-l);
  --rstudio-blue: hsl(var(--rstudio-blue-hsl));
  --rstudio-blue-transparent: hsl(var(--rstudio-blue-hsl) / 0.5);

  --rstudio-grey-h: 0;
  --rstudio-grey-s: 0%;
  --rstudio-grey-l: 25%;
  --rstudio-grey-hsl: var(--rstudio-grey-h) var(--rstudio-grey-s)
    var(--rstudio-grey-l);
  --rstudio-grey: hsl(var(--rstudio-grey-hsl));
  --rstudio-grey-transparent: hsl(var(--rstudio-grey-hsl) / 0.5);

  --rstudio-white-h: 0;
  --rstudio-white-s: 0%;
  --rstudio-white-l: 100%;
  --rstudio-white-hsl: var(--rstudio-white-h) var(--rstudio-white-s)
    var(--rstudio-white-l);
  --rstudio-white: hsl(var(--rstudio-white-hsl));
  --rstudio-white-transparent: hsl(var(--rstudio-white-hsl) / 0.9);

  --grey: hsl(211 19% 70%);
  --light-grey: #e9edf3;
  --dark-grey: hsl(211 19% 50%);

  --background-grey: var(--light-grey);
  --header-grey: var(--grey);

  --red: rgb(250, 83, 22);

  --font-color: hsl(214 9% 15%);
  --font-color-disabled: hsl(214 9% 15% / 0.5);

  --selected-border-color: var(--rstudio-blue);
  --outline-color: var(--grey);

  /* Sizes */
  --element-palette-icon-size: 75px;
  --element-palette-padding: 16px;
  --layout-header-h: 55px;
  --layout-elements-panel-w: calc(
    var(--element-palette-icon-size) * 2 + var(--element-palette-padding) * 3
  );
  --layout-properties-panel-w: 275px;

  --selected-border-width: 3px;
  --corner-radius: 5px;
  --card-header-height: 35px;
  --animation-speed: 0.2s;
  --animation-curve: ease-in-out;
  --outline: 1px solid var(--outline-color);

  --fonts: "Lucida Sans", "DejaVu Sans", "Lucida Grande", "Segoe UI",
    -apple-system, BlinkMacSystemFont, Verdana, Helvetica, sans-serif;

  --mono-fonts: Consolas, "Lucida Console", Monaco, monospace;

  --shadow-color: 0deg 0% 13%;
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body,
input {
  font-family: var(--fonts);
  font-weight: 450;
  line-height: 1.5;
  color: var(--font-color);
  margin: 0;
  overflow: hidden;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 550;
  color: var(--rstudio-grey);
}

/* 
 By adding a disable-text-selection class to the page we can turn of selection
 so dragging wont cause all sorts of ugly text selection. */
.disable-text-selection * {
  user-select: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  font-size: 1.08rem;
}
