.container {
  --header-height: 31px;
  --padding: var(--horizontal-spacing);
  height: 100vh;
  width: 100%;
  background-color: var(--background-grey, #edf2f7);
  display: grid;
  grid-template-rows: var(--header-height) 1fr;

  /* This is provided by inline styles in Editor Container so value can be stored in JS */
  grid-template-columns: auto 1fr var(--properties-panel-width);
  grid-template-areas:
    "header   header header    "
    "elements editor properties";
}

.container * {
  min-height: 0;
}

.container > div {
  outline: 1px solid var(--header-grey);
  min-width: 0;
  /* Each sub-section gets its own stacking context so it won't leak over others */
  isolation: isolate;
}

.elementsPanel {
  grid-area: elements;
  overflow: auto;
}

.propertiesPanel {
  grid-area: properties;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.propertiesPanel > :global(.properties-panel) {
  flex: 1;
}
.propertiesPanel > :global(.app-preview) {
  flex-grow: 0;
}

.editorHolder {
  grid-area: editor;
  background-color: var(--rstudio-white);
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  height: 100%;
  width: 100%;
  position: relative;
}

.titledPanel {
  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  background-color: var(--background-grey);
  /* Make sure z-indices dont leak out of panels and overlap things like modals
  */
  isolation: isolate;
}
.titledPanel > * {
  min-width: 0;
}

.titledPanel > h3 {
  text-align: center;
  line-height: var(--header-height);
  background-color: var(--header-grey, forestgreen);
  font-size: 1.05rem;
  font-weight: lighter;
  color: var(--rstudio-white);
}

.header {
  grid-area: header;
  gap: var(--padding);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rightSide {
  margin-left: auto;
  width: var(--properties-panel-width);
  display: inherit;
  align-items: center;
  gap: 14px;
}

.rightSide > :first-child {
  /* Move the button over a bit so it visually lines up with the edge of the properties panel */
  margin-left: -6px;
}

.rightSide :global(.react-joyride) {
  display: none;
}

.rightSide > :global(.undo-redo-buttons) {
  transform: translate(-1px, -1px);
}

.divider {
  height: 20px;
  background-color: var(--divider-color);
  width: 2px;
}

.title {
  font-size: 1.15rem;
  color: var(--rstudio-blue);
}

.shinyLogo {
  display: inline-block;
  height: 100%;
  border-radius: 0 15px 15px 0;
  padding-block: 3px;
  padding-inline: 5px;
}

/* Because the buttons don't have borders, padding just causes confusing spaces
*/
.header button {
  padding: 0;
}
