.portalHolder {
  background-color: rgba(255, 255, 255, 0.735);
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  /* Give it a z-index to ensure it sits on top of everything else */
  z-index: 2;
}

.portalModal {
  outline: 1px solid grey;
  width: 450px;
  background-color: var(--rstudio-white);
  display: flex;
  flex-direction: column;
  border-radius: var(--corner-radius);
}

.title {
  padding: 8px;
}

.body {
  flex-grow: 1;
  padding: 1rem;
}

.portalForm {
  display: flex;
  flex-direction: column;
}

.portalFormInputs {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.portalFormFooter {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.validationMsg {
  color: var(--red);
  font-style: italic;
}

.infoText {
  font-style: italic;
}
