.container {
  --inset: var(--size-md);
  height: calc(100% - var(--inset) * 2);
  width: calc(100% - var(--inset) * 2);
  margin: var(--inset);
  padding: var(--size-md);

  display: flex;
  flex-direction: column;
}

.header {
  color: var(--red);
  font-size: 1.5rem;
}

.information {
  margin-block: var(--size-sm);
  font-style: italic;
}

.error_msg {
  display: block;
  background-color: var(--light-grey);
  color: var(--red);
  font-family: monospace;
  padding: var(--size-sm);
}

.actions {
  margin-block-start: auto;
  display: flex;
  justify-content: space-evenly;
}
