.categoryDivider {
  display: block;
  position: relative;
  isolation: isolate;
  height: var(--vertical-spacing);
  display: flex;
  align-items: center;
}

.categoryDivider > span {
  background-color: var(--light-grey);
}

.categoryDivider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--divider-color);
  z-index: -1;
  opacity: 0.5;
}
