.wrapper {
  position: relative;
  display: flex;
  max-width: 125px;
  padding: 2px;
  gap: 4px;
  --incrementerSize: 10px;
}

select {
  border: 1px solid var(--light-grey);
  border-radius: var(--corner-radius);
}
