/* Styles common to multiple input components */
input {
  padding: 6px;
  border: 1px solid var(--light-grey);
}

.container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: max-content;
}

.label {
  font-weight: 300;
  font-style: italic;
  width: auto;
}

input:disabled,
select:disabled {
  background-color: var(--light-grey);
  outline: 1px solid var(--grey, red);
  opacity: 0.25;
  cursor: not-allowed;
}
