/* Styles common to multiple input components */
input {
  padding: 6px;
}

.container {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.label {
  font-weight: 300;
  font-style: italic;
  width: auto;
}
