/* Styles common to multiple input components */
input {
  padding: 6px;
}

.container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: max-content;
}

.label {
  font-weight: 300;
  font-style: italic;
  width: auto;
}

.sectionLabel {
  color: orangered;
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;
}

.sectionLabel .sectionLabelDash {
  flex-grow: 1;
  background-color: var(--font-color);
  height: 1px;
  border-radius: 50%;
}
