.countContainer {
  --incrementerSize: 10px;
  position: relative;
  max-width: 200px;
}

input.countInput {
  border: 1px solid var(--light-grey);
  border-radius: var(--corner-radius);
  flex-grow: 1;
  width: 100%;
  text-align: end;
  --arrow-pad: 5px;
  padding: 5px;
}

input:disabled {
  outline: 1px solid red;
  opacity: 0.25;
  cursor: not-allowed;
}
