input.numericInput {
  border: 1px solid var(--light-grey);
  border-radius: var(--corner-radius);
  flex-grow: 1;
  width: auto;
  text-align: end;
  --arrow-pad: 5px;
  padding: 6px;
  max-width: 90px;
  min-width: 40px;
}

input.numericInput:disabled {
  outline: 1px solid red;
  opacity: 0.25;
  cursor: not-allowed;
}
