.radioInputs {
  display: flex;
  gap: 5px;
  justify-content: space-around;
}

.option {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.radioInputs input {
  margin-right: 5px;
}
