.container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
}

.label {
  font-weight: 300;
  font-style: italic;
  width: auto;
}

.input {
  border: 1px solid var(--light-grey);
  padding: 5px;
  border-radius: var(--corner-radius);
}
