.leaf {
  outline: 1px solid forestgreen;
}

.selectedOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  outline: var(--selected-border-width) solid var(--selected-border-color, pink);
}

/* This is currently overlapped by the selectedOverlay so selected items don't
give visual feedback about their ability to be dropped onto */
.canDrop {
  outline: 3px solid salmon;
}

.container,
.leaf {
  position: relative;
}
