.leaf {
  outline: 1px solid forestgreen;
}

.canDrop {
  outline: 3px solid salmon;
}

.container,
.leaf {
  position: relative;
}

.deleteButton {
  position: absolute;
  left: -8px;
  top: -8px;
}

.editButton {
  position: absolute;
  right: -8px;
  top: -8px;
}

.deleteButton,
.editButton {
  cursor: pointer;
  background-color: white;
  border-radius: 6px;
  outline: none;
  width: 16px;
  height: 16px;
}
