.leaf {
  outline: 1px solid forestgreen;
}

.selectedOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  outline: var(--selected-border-width) solid var(--selected-border-color, pink);
}

.canDrop {
  outline: 3px solid salmon;
}

.container,
.leaf {
  position: relative;
}

.deleteButton,
.editButton {
  --button-size: 16px;
  --inset: 1px;
  cursor: pointer;
  background-color: white;
  border-radius: 6px;
  outline: none;
  width: var(--button-size);
  height: var(--button-size);
  display: none;
}

.deleteButton {
  position: absolute;
  left: var(--inset);
  top: var(--inset);
}

.editButton {
  position: absolute;
  right: var(--inset);
  top: var(--inset);
}

.editButton.selected,
.deleteButton.selected {
  display: block;
}
