.elementsPalette {
  --icon-size: 75px;
  --padding: 8px;

  height: 100%;
  overflow: auto;
  padding: var(--padding);
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2, var(--icon-size));
  justify-content: center;
  justify-items: center;
  align-content: start;
  gap: var(--padding);
}
/* Reduce vertical padding for first category list */

.OptionItem {
  /* outline: 1px solid red; */
  font-size: 0.8rem;
  width: var(--icon-size);
  height: 75px;
  border-radius: var(--corner-radius);
  position: relative;
  cursor: grab;
  text-align: center;
}

.OptionIcon {
  margin: 0;
  margin-top: -10px;
  display: block;
  width: 100%;
  /* outline: 1px solid green; */
  outline-offset: -1px;
}

.OptionLabel {
  margin-top: -18px;
  display: block;
  line-height: 15px;
}

.OptionItem:hover {
  outline: var(--outline);
}
.OptionItem:active {
  cursor: grabbing;
}

.OptionItem > svg {
  color: var(--rstudio-blue);
}
