.container {
  position: relative;
  height: 100%;
  width: 100%;
  /* Stop blowout and enable properties like padding to be used as expected */
  min-width: 0;
  background-color: var(--rstudio-white, white);
  /* outline: var(--outline); */
  --card-padding: 6px;
  isolation: isolate;
}

.card_holder {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 30px;
}

.card_contents_holder {
  inset: 0;
  overflow: auto;
}
