.container {
  --gap-size: 4px;
}

.list {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-size);
}

.item {
  display: flex;
  gap: var(--gap-size);
  align-items: baseline;
  padding: var(--gap-size);
}

.item:global(.sortable-chosen) {
  outline: 2px solid var(--rstudio-blue);
}

.item > input {
  /* Make the input take up all the space in the middle it can */
  flex: 1;
}

.dragHandle {
  cursor: ns-resize;
}
