.shiny_logo {
  display: inline-block;
  height: 100%;
  border-radius: 0 15px 15px 0;
  padding-block: 3px;
  padding-inline: 5px;
  background-color: var(--rstudio-blue);
}

.app_title {
  font-size: 1.15rem;
  color: var(--rstudio-blue);
}

.divider {
  height: 20px;
  background-color: var(--divider-color);
  width: 2px;
}

.header {
  height: var(--header-height);
  gap: var(--padding);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.OpenSideBySideWindowButton {
  background-color: transparent;
  font-size: 18px;
  color: var(--icon-color);
  margin-inline: 7px;
}

/*  Divider next to it needs some slightly different margins from other divider */
.OpenSideBySideWindowButton + .divider {
  margin-inline-end: 3px;
  margin-inline-start: 6px;
}

.header button {
  padding: 0;
}

.react-joyride {
  display: none;
}

.undo-redo-buttons {
  transform: translate(-1px, -1px);
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}

.divider {
  margin-inline-end: 12px;
  margin-inline-start: 14px;
}

.spacer {
  height: 20px;
}

.spacer.last {
  width: 58px;
}
