.tractInfoDisplay {
  --transition-out-delay: 0.7s;
  --transition-in-delay: 0.2s;
  --transition-delay: var(--transition-out-delay);
  --transition-speed: 0.1s;
  --transition-ease: ease-in-out;

  --shadow: drop-shadow(2px 2px 3px hsl(0deg 0% 0% / 0.4));
  --offset: calc(-1 * var(--grid-pad));
  z-index: 1;
  display: flex;
  align-items: center;

  position: relative;
  --rows-width: fit-content;
  --cols-height: fit-content;
  --scale: 0;
  --hover-scale: 0;
  transition: background-color var(--transition-speed) var(--transition-ease)
    var(--transition-delay);
  isolation: isolate;
}

.sizeWidget {
  /* How far we pull the size widget towards the edge to make it appear part of
  the whole with the hover listener */
  --inset: -3px;
  transition: transform var(--transition-speed) var(--transition-ease)
    var(--transition-delay);
  padding-inline: 5px;
  padding-block: 3px;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: var(--rstudio-white);
  /* backdrop-filter: blur(5px); */
  border: 3px solid var(--rstudio-blue, pink);
  /* outline-offset: -3px; */
}

.deleteButton {
  --size: 23.5px;
  height: var(--size);
  width: var(--size);
  background-color: var(--rstudio-white);
  display: grid;
  place-content: center;
  border-radius: var(--corner-radius);
  /* Only show delete button in the hover mode */
  /* transform: scale(var(--hover-scale)); */
  /* transform: scale(0); */
  display: none;
}
.tractInfoDisplay:hover .deleteButton {
  display: block;
}

.deleteButton[data-enabled="true"] {
  color: var(--red);
}
.deleteButton[data-enabled="false"] {
  color: var(--disabled-color, green);
  cursor: not-allowed;
}

.sizeWidget button .sizeWidget > div {
  filter: var(--shadow);
}

.hoverListener {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
.tractInfoDisplay[data-drag-dir="rows"] .hoverListener {
  height: calc(100% + var(--grid-gap));
}
.tractInfoDisplay[data-drag-dir="columns"] .hoverListener {
  width: calc(100% + var(--grid-gap));
}
.tractInfoDisplay[data-drag-dir="rows"] {
  grid-column: 1;
  grid-row: var(--tract-index);
  height: 100%;
  width: var(--grid-pad);
  position: relative;
  margin-left: var(--offset);
  flex-direction: row;
}

.tractInfoDisplay[data-drag-dir="rows"] > .sizeWidget {
  height: 100%;
  width: fit-content;
  border-radius: 0 var(--corner-radius) var(--corner-radius) 0;
  transform: translateX(var(--inset)) scaleX(var(--scale));
  transform-origin: left;
}

.tractInfoDisplay[data-drag-dir="columns"] {
  grid-row: 1;
  grid-column: var(--tract-index);
  width: 100%;
  height: var(--grid-pad);
  margin-top: var(--offset);
  flex-direction: column;
}

.tractInfoDisplay[data-drag-dir="columns"] > .sizeWidget {
  height: fit-content;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 0 var(--corner-radius) var(--corner-radius);
  transform: translateY(var(--inset)) scaleY(var(--scale));
  transform-origin: top;
}

/* Focus within here makes sure that the tract control doesn't dissapear if the
user is typing in the input field but mouses off */
.tractInfoDisplay:hover,
.tractInfoDisplay[data-visible="true"],
.tractInfoDisplay:focus-within {
  --scale: 100%;
  --transition-delay: var(--transition-in-delay);
  background-color: var(--rstudio-blue, pink);
}

.tractInfoDisplay:hover {
  --hover-scale: 1;
}

.tractAddBeforeButton,
.tractAddAfterButton {
  --size: 20px;
  --offset_amnt: 2px;
  --offset: calc(var(--offset_amnt) - var(--size));
  width: var(--size);
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  border-radius: 50%;
  border: 1px solid var(--rstudio-blue);
  background-color: var(--rstudio-white);
  transform: scale(var(--hover-scale));
  transition: transform var(--transition-speed) var(--transition-ease)
    var(--transition-delay);
  position: absolute;
  /* filter: var(--shadow); */
  z-index: 1;
}

.tractInfoDisplay[data-drag-dir="columns"] .tractAddBeforeButton {
  left: var(--offset);
  bottom: 0;
}
.tractInfoDisplay[data-drag-dir="columns"] .tractAddAfterButton {
  right: var(--offset);
  bottom: 0;
}
.tractInfoDisplay[data-drag-dir="rows"] .tractAddBeforeButton {
  top: var(--offset);
  right: 0;
}
.tractInfoDisplay[data-drag-dir="rows"] .tractAddAfterButton {
  bottom: var(--offset);
  right: 0;
}
