.container {
  display: flex;
  position: relative;
}

.container > button > svg {
  color: var(--icon-color, silver);
}

.container > button {
  height: var(--header-height, 100%);
  padding: 0px;
  position: relative;
  font-size: 2rem;
}

.container > button:disabled {
  color: var(--disabled-color);
  opacity: 0.2;
}
