.OptionsList {
  height: 100%;
  display: grid;
  align-items: start;
  /* As many columns as will fit */
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  justify-content: center;
  justify-items: center;
  align-content: space-around;
  padding: 8px;
  gap: 8px;
}

.OptionItem {
  border-radius: var(--corner-radius, 10px);
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  align-content: center;
  place-items: center;
  position: relative;
  cursor: grab;
  font-size: 1rem;
  padding: 5px;
  text-align: center;
}

.OptionItem:hover {
  outline: var(--outline);
}
.OptionItem:active {
  cursor: grabbing;
}
.OptionItem > img {
  --scaling: 2;
  width: calc(150px / var(--scaling));
}
.OptionItem > svg {
  color: var(--rstudio-blue);
}
