.search_container {
  width: 100%;
  max-width: 200px;
  display: flex;
  align-items: center;
  gap: var(--size-sm);
  padding-inline-start: var(--size-sm);
}

.search_container > svg {
  font-size: 1rem;
  flex-shrink: 0;
}
.search_container input {
  /* background-color: pink; */
  min-width: 0;
  flex: 1;
}
.search_input {
  flex: 1;
}

.icon_list {
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 180px;
  max-height: 400px;
  overflow: auto;
  background-color: var(--rstudio-white);
  filter: var(--simple-drop-shadow-filter);
  border-radius: var(--corner-radius);
}

.icon_preview {
  display: grid;
  grid-template-columns: 20px 1fr;
  height: 45px;
  gap: var(--size-xs);
  cursor: pointer;
  padding: var(--size-md);
}

.icon_preview > svg {
  align-self: center;
}

.icon_name {
  white-space: nowrap;
  overflow: auto;
}

.icon_preview[aria-selected="true"] {
  background-color: var(--rstudio-blue);
  color: var(--rstudio-white);
}

/* Add a line between each instance of .icon_preview except for the last one */
.icon_preview:not(:last-child) {
  border-bottom: 1px solid var(--light-grey);
}

.selected {
  /* outline: 1px solid black; */
}
