.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.value_box {
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
  padding: var(--size-md);
  gap: var(--size-md);
  overflow: auto;
  grid-template-columns: 3fr 7fr;
  grid-template-areas: "showcase content";
}

.value_box.showcase_right {
  grid-template-columns: 7fr 3fr;
  grid-template-areas: "content showcase";
}

.container > * {
  min-width: 0;
}

.showcase {
  grid-area: showcase;
}

.showcase svg {
  width: 100%;
  height: 100%;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
