div.canAcceptDrop {
  --outline-start-width: 2px;
  --outline-end-width: 5px;
  --start-shadow: inset 0px 0 0px var(--outline-start-width) var(--red);
  --end-shadow: inset 0px 0 0px var(--outline-end-width) var(--red);
  box-shadow: var(--start-shadow);

  animation-duration: 3s;
  animation-name: pulse;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    box-shadow: var(--start-shadow);
  }

  50% {
    box-shadow: var(--end-shadow);
  }
  to {
    box-shadow: var(--start-shadow);
  }
}

/* This is currently overlapped by the selectedOverlay so selected items don't
give visual feedback about their ability to be dropped onto. The use of div
prefixing is to give this style the greatest possible specificity. It will cause
troubles if in the future another element type can be dropped into, but that
seems unlikely to happen. */
div.canAcceptDrop.hoveringOver {
  background-color: var(--red);
  /* Lift up whatever element is being hovered so anything placed over it
  doesn't interfere with dropping */
  z-index: 10;
}
