.form {
  display: grid;
  width: var(--unit-input-width, 50px);
  grid-template-columns: 55% 45%;
  justify-content: center; /* Make sure to sit in middle of control */
  grid-gap: 0px;
  padding: 5px;
}

.form input {
  padding: 2px 6px;
  font-weight: 500;
}

.form input,
.form select {
  align-self: stretch;
  justify-self: stretch;
  height: 1.75rem;
  font-size: 1.1rem;
  border-radius: var(--corner-radius);
  border: 1px solid var(--light-grey);
}

.form.disabled {
  opacity: 0.15;
  pointer-events: none;
}
