---

import HexStickerImg from "@/assets/shinyuieditor-hex.png";


import { Image } from "astro:assets";

---


<a href="/sue-homebase/" class="-m-1.5 p-1.5">
    <span class="sr-only">ShinyUiEditor | Posit</span>
    <Image class="h-14 w-auto" height={80} width = {80} src={HexStickerImg} alt="" />
</a>