---

import {cn} from "@/lib/utils"

---
<div class={cn(
    "prose prose-sue lg:prose-lg mx-auto max-w-3xl px-8 py-8",
    "prose-h1:pt-10 prose-h1:lg:mt-8 prose-h1:border-t first:prose-h1:border-t-0 first:prose-h1:pt-2",
    "prose-img:shadow prose-img:rounded-lg")}>
    <slot/>
</div>