.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  outline: 1px solid var(--light-grey);
}

.header {
  --h: 40px;
  background-color: var(--light-grey);
  display: flex;
  height: var(--h);
  flex-shrink: 0;
}

.tabContents {
  flex-grow: 1;
  position: relative;
}

.pageTitle {
  margin: 0;
  padding-inline: 20px;
  line-height: var(--h);
  flex-shrink: 0;
  font-size: 1rem;
  font-weight: bold;
}

.tabs {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  gap: 5px;
}

.tab {
  --roundness: 6px;
  flex-basis: 80px;
  height: calc(100% - 3px);
  border-radius: var(--roundness) var(--roundness) 0 0;
  background-color: var(--grey);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.tab[data-active-tab="true"] {
  background-color: var(--rstudio-white);
  border: var(--selected-outline);
  border-bottom-color: var(--rstudio-white);
}

.tabContents {
  height: 100%;
}

.tabContents[data-active-tab="false"] {
  display: none;
}

.addTabButtonContainer {
  align-self: center;
  align-self: stretch;
  margin: 4px;
  display: flex;
}

.addTabButton {
  color: var(--rstudio-blue);
}
