.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  outline: 1px solid var(--light-grey);
  /* See the data-selected-tab="true" selector below for info on why we enter
  isolation more here. */
  isolation: isolate;
}

.header {
  --h: 40px;
  background-color: var(--light-grey);
  display: flex;
  height: var(--h);
  flex-shrink: 0;
}

.tabContents {
  flex-grow: 1;
  position: relative;
}

.pageTitle {
  margin: 0;
  padding-inline: 20px;
  line-height: var(--h);
  flex-shrink: 0;
  font-size: 1rem;
  font-weight: bold;
}

.tabHolder {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  /* gap: 5px; */
}

.tab {
  --roundness: 6px;
  flex-basis: 80px;
  height: calc(100% - 3px);
  border-radius: var(--roundness) var(--roundness) 0 0;
  background-color: var(--grey);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.tab[data-active-tab="true"] {
  background-color: var(--rstudio-white);
  border-bottom-color: var(--rstudio-white);
}
.tab[data-selected-tab="true"] {
  border: var(--selected-outline);
  position: relative;
  /* z-index here helps the selected tab sit above the rest so we can create the
  illusion of a contiguous outline line by covering up the bottom border with a
  psuedo element */
  z-index: 2;
}
/* Don't double up on selected outline and border */
.tab[data-selected-tab="true"]::before {
  outline: none;
}

/* Add a small white element over the selection border to create a contiguous
illusion of the selected panel and tab being one entity */
.tab[data-selected-tab="true"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--rstudio-white);
  bottom: -4px;
}

.tabContents {
  height: 100%;
}

.tabContents[data-active-tab="false"] {
  display: none;
}

.addTabButtonContainer {
  align-self: center;
  align-self: stretch;
  margin: 4px;
  display: flex;
  order: 99;
}

.newTabDropDetector {
  display: flex;
  align-items: center;
}

.addTabButton {
  color: var(--rstudio-blue);
}
