.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
}

.container > button {
  width: fit-content;
  font-size: 3rem;
  justify-self: center;
}
