.buttonHolderRows,
.buttonHolderCols {
  --edge-style: 2px solid var(--edge-color, var(--light-grey));
  --padding-from-edge: 4px;
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.buttonHolderRows {
  flex-direction: column;
  padding-right: var(--padding-from-edge);
}

.buttonHolderCols {
  flex-direction: row;
  padding-bottom: var(--padding-from-edge);
}

.tractAddBeforeButton,
.tractAddAfterButton,
.tractDeleteButton {
  --size: 20px;
  height: var(--size);
  width: var(--size);
  display: grid;
  place-content: center;
  color: var(--rstudio-blue);
}

.buttonHolderRows .tractAddBeforeButton {
  margin-top: calc(var(--size) / -2);
}
.buttonHolderCols .tractAddBeforeButton {
  margin-left: calc(var(--size) / -2);
}

.buttonHolderRows .tractAddAfterButton {
  margin-bottom: calc(var(--size) / -2);
}
.buttonHolderCols .tractAddAfterButton {
  margin-right: calc(var(--size) / -2);
}

.tractDeleteButton:disabled {
  color: var(--light-grey);
  cursor: not-allowed;
}
