.SUE-SettingsInput {
  display: block;
  margin-block: 8px;
  width: 100%;
  max-width: 100%;
  padding: 2px;

  .info {
    display: flex;
    gap: 5px;
  }
  input,
  .unset-input {
    display: block;
  }
  .missing-required-argument-message {
    color: var(--red, orangered);
  }

  .mismatched-argument-types {
    color: var(--dark-grey, pink);
  }

  .unset-argument {
    color: var(--dark-grey, pink);
    font-style: italic;
  }

  input:not([type="checkbox"]) {
    width: 100%;
  }
}
