.SUE-SettingsInput {
  margin-block: var(--vertical-spacing-top) var(--vertical-spacing-bottom);
  width: 100%;
  max-width: 100%;
  padding-inline: 2px;

  .info {
    display: flex;
    gap: 5px;
    margin-bottom: 4px;
    height: 20px;

    input[type="checkbox"] {
      translate: 0px -1px;
    }
  }

  [data-unset="true"] {
    color: var(--disabled-color);
  }

  input,
  .unset-input {
    display: block;
  }
  .missing-required-argument-message {
    color: var(--red, orangered);
  }

  .mismatched-argument-types {
    color: var(--dark-grey, pink);
  }

  .unset-argument {
    color: var(--dark-grey, pink);
    text-align: center;
    background-color: var(--rstudio-white);
    opacity: 0.7;
  }

  .SUE-Input {
    width: 100%;
  }

  // Add a colon after label without making confusing label text for
  // accesibility reasons
  label:after {
    content: ":";
  }
}
