.item {
  grid-column: var(--cols, 1);
  grid-row: var(--rows, 1);
  background-color: var(--color, rgba(34, 139, 34, 0.835));
  border-radius: var(--corner-radius);
  display: grid;
  grid-template-areas:
    "topLeft    .      topRight"
    ".          middle ."
    "bottomLeft .      bottomRight";
}

.item > span {
  color: var(--light-grey);
}

.middle {
  grid-area: middle;
  cursor: grab;
  justify-self: center;
  align-self: center;
}
.topLeft {
  grid-area: topLeft;
  cursor: nw-resize;
}
.topRight {
  grid-area: topRight;
  cursor: ne-resize;
}
.bottomLeft {
  grid-area: bottomLeft;
  cursor: sw-resize;
}
.bottomRight {
  grid-area: bottomRight;
  cursor: se-resize;
}
.topRight,
.bottomRight {
  justify-self: end;
}
.topLeft,
.bottomLeft {
  justify-self: start;
}
.topRight,
.topLeft {
  align-self: start;
}
.bottomRight,
.bottomLeft {
  align-self: end;
}
