.cardWHeader {
  border-radius: var(--corner-radius);
  box-shadow: var(--shadow);
  background: var(--rstudio-white);
  display: grid;
  grid-template-rows: var(--card-header-height, 35px) 1fr;
}

.cardWHeader > *:first-child {
  border-bottom: 1px solid #d1d0d09a;
  margin-left: 3px;
  margin-right: 3px;
}

.title {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
