.cardWHeader {
  border-radius: var(--corner-radius);
  border: 1px solid var(--light-grey, grey);
  background-color: white;
  display: grid;
  grid-template-rows: var(--card-header-height, 35px) 1fr;
}

.cardWHeader > *:first-child {
  border-top-left-radius: var(--corner-radius);
  border-top-right-radius: var(--corner-radius);
  box-shadow: var(--underline-shadow);
}

.title {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
