.leaf {
  outline: 1px solid forestgreen;
}

div.selectedOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  outline: var(--selected-border-width) solid var(--selected-border-color, pink);
}

.container,
.leaf {
  position: relative;
}
.selectedNode {
  position: relative;
}
.selectedNode::before {
  content: "";
  position: absolute;
  inset: 0;
  outline: var(--selected-outline);
  pointer-events: none;
}
