.NumberInput {
  display: inline-grid;
  border: 1px solid var(--light-grey);
  border-radius: var(--corner-radius);

  height: 22px;

  grid-template-areas:
    "main up  "
    "main down";

  grid-template-columns: 1fr auto;
  grid-template-rows: 50% 50%;

  input {
    border: none;
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  .input-field {
    grid-area: main;
  }

  .up-button,
  .down-button {
    --shift-to-center: 1px;
    padding-block: 0;
    padding-inline: 8px 5px;
    font-size: 10px;
  }
  .up-button {
    grid-area: up;
    translate: 0px var(--shift-to-center);
  }

  .down-button {
    translate: 0px calc(-1 * var(--shift-to-center));
    grid-area: down;
  }
}
