.header {
  padding: 0.25rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--rstudio-grey);
}

.header h1 {
  font-size: 2rem;
  margin: 0;
}

.header a {
  text-decoration: none;
}

.header .links {
  font-size: 1.5rem;
}

.header .links a {
  padding: 5px 15px;
  margin: 0 5px;
  min-width: 50px;
  text-align: center;
  color: var(--rstudio-blue);
  will-change: background-color;
  border-radius: 5px;
}

.header .links a:hover,
.header .links a:active {
  border: 1px solid var(--rstudio-grey);
}

.header .links a.active {
  background-color: var(--rstudio-blue);
  color: white;
}

.header .logos {
  height: 100%;
}

.header .logos > img {
  margin: 0 1rem;
  height: 100%;
  border-radius: 1rem;
  padding: 0.5rem;
}
