.container {
  --app-rendered-w: 1000px;
  --app-aspect-ratio: 0.8;
  --app-rendered-h: calc(var(--app-rendered-w) * var(--app-aspect-ratio));
  /* This is a hard coded value that needs to be this way because css's calc
  function can't divide two same-unit numbers to get a ratio */
  --app-scale-amnt: 0.24;
  --animation-speed-timing: 1s ease;
  --expand-btn-inset: 3px;
  --expand-btn-size: 1rem;

  width: 100%;
  height: 100%;
  padding-top: 20px;
  overflow: hidden;
  display: grid;
  place-content: center;
  position: relative;
  background-color: inherit;
}

.container.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: var(--rstudio-white-transparent);
  transition: background-color var(--animation-speed-timing);

  --expand-btn-inset: 20px;
  --expand-btn-size: 2rem;
}

.container.fullScreen > .previewFrame {
  width: 90vw;
  height: 90vh;
  transform: scale(1);
  transition: transform var(--animation-speed-timing);
}

.container:not(.fullScreen) > .previewFrame {
  transition: none;
}

.container > h2 {
  color: var(--rstudio-grey);
}

.previewFrame {
  background-color: var(--rstudio-white);
  width: var(--app-rendered-w);
  height: var(--app-rendered-h);
  transform: scale(var(--app-scale-amnt));
  display: block;
}

.expandButton {
  position: absolute;
  top: var(--expand-btn-inset);
  right: var(--expand-btn-inset);
  font-size: var(--expand-btn-size);
  color: var(--rstudio-grey);
}
