.container {
  display: grid;
  background-color: var(--bg-color);
  outline: 1px solid var(--light-grey);
  position: relative;
}

/* Make sure the children are position relative so floating buttons etc will sit
in the proper places */
.container > * {
  position: relative;
}
