.container {
  display: grid;
  /* background-color: var(--bg-color); */
  outline: var(--outline);
  position: relative;
  height: 100%;
  width: 100%;
}

/* Make sure the children are position relative so floating buttons etc will sit
in the proper places */
.container > * {
  position: relative;
}
