.container {
  display: flex;
  /* gap: 5px; */
}

.container > button > svg {
  width: 100%;
  fill: var(--rstudio-blue);
  color: var(--rstudio-blue);
}

.container > button {
  height: 38px;
  padding: 3px;
  position: relative;
  font-size: 2rem;
}

.container > button:disabled {
  fill: var(--disabled-color);
  color: var(--disabled-color);
  opacity: 0.2;
}
