.item {
  margin-inline: 1rem;
  margin-block: 0.5rem;
  padding-inline: 1rem;
  padding-block: 0.25rem;
  font-weight: 500;
  background-color: var(--rstudio-blue);
  color: var(--rstudio-white, white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--corner-radius);
}

.item button {
  color: white;
  background-color: var(--rstudio-blue);
  border-width: 0px;
  border-radius: var(--corner-radius);
}

.item button:hover {
  box-shadow: 0px 0px 0px 1px white;
}
