input[type="number"].numericInput {
  border: 1px solid var(--light-grey);
  border-radius: var(--corner-radius);
  flex-grow: 1;
  text-align: end;
  --incrementer-pad: 5px;
  width: 62px;
  /* padding-right: 15px; */
}
