input[type="number"].numericInput {
  border: 1px solid var(--light-grey);
  border-radius: var(--corner-radius);
  flex-grow: 1;
  text-align: end;
  --incrementer-pad: 5px;
  width: 62px;
  padding-right: 19px;
}
input[type="number"].numericInput::-webkit-inner-spin-button,
input[type="number"].numericInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2220%22%20viewBox%3D%220%200%2018%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M8.89765%200.384033L15.9496%207.16973H1.84573L8.89765%200.384033Z%22%20fill%3D%22%2375A8DB%22%2F%3E%0A%3Cpath%20d%3D%22M8.89765%2019.384L15.9496%2012.5983H1.84573L8.89765%2019.384Z%22%20fill%3D%22%2375A8DB%22%2F%3E%0A%3C%2Fsvg%3E);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 1em;
  opacity: 1; /* shows Spin Buttons per default (Chrome >= 39) */
  position: absolute;
  top: 4px;
  right: 2px;
  bottom: 4.5px;
}
