.titlePanel {
  background-color: var(--rstudio-white);
  outline: 1px solid var(--light-grey);
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.titlePanel > h1 {
  font-size: 2rem;
}
