.popover {
  pointer-events: none;
  opacity: 0;
  border-radius: var(--corner-radius);
  background-color: var(--rstudio-white);
  /* Use a backdrop filter to provide a tiny bit of lift off the background */
  filter: drop-shadow(1px 1px 4px hsl(0deg 0% 0% / 0.25));
}

.textContent {
  padding: 5px;
  font-style: italic;
  width: max-content;
  max-width: 200px;
}

.popover[data-show] {
  opacity: 1;
  z-index: 9999;
  transition-property: opacity;
  transition-duration: 10ms;
  transition-timing-function: ease-in;
}

.popperArrow,
.popperArrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.popperArrow {
  visibility: hidden;
}

.popperArrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}

.popover[data-popper-placement^="top"] > .popperArrow {
  bottom: -4px;
}

.popover[data-popper-placement^="bottom"] > .popperArrow {
  top: -4px;
}

.popover[data-popper-placement^="left"] > .popperArrow {
  right: -4px;
}

.popover[data-popper-placement^="right"] > .popperArrow {
  left: -4px;
}
