.textPanel {
  background-color: var(--rstudio-white);
  width: 100%;
  height: 100%;
  position: relative;
}

.textPanel > h1 {
  font-size: 2rem;
}

.text_holder {
  padding: 1rem;
  display: grid;
  align-items: center;
  height: 100%;
  overflow: auto;
}
