---

import Header from "@/components/Header.astro";
import MarkdownContainer from "@/components/MarkdownContainer.astro";
import { Content as ChangeMd } from "../../../../NEWS.md";
import "@/styles/globals.css";
import {
  ArrowUpRightIcon
} from "@heroicons/react/24/outline";
---


<html>
  <head>
    <!-- <link rel="canonical" href={new URL(url, Astro.site).pathname} /> -->
    <title>Change Log</title>
  </head>
  <body>
    <Header  />
    <MarkdownContainer>
        <h1>ShinyUiEditor Change Log</h1>
        <p>This page is generated from the <code>NEWS.md</code> file in the shinyuieditor repo. <a href="https://github.com/rstudio/shinyuieditor/blob/main/NEWS.md">See source. <ArrowUpRightIcon className="h-4 inline-block -translate-y-[0.05em] "/> </a></p>

        <ChangeMd />
    </MarkdownContainer>
    
  </body>
</html>
