---
import Layout from "@/layouts/Layout.astro";

import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import CardSection from "@/components/CardSection.astro";
import MarkdownContainer from "@/components/MarkdownContainer.astro";

import { Content as LandingProse } from "@/assets/markdown/landing.mdx";


import "@/styles/globals.css";
---

<Layout title="ShinyUiEditor">
  <Header showBorder={false} />
  <main class="text-xl mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-3xl">
      <Hero />
      <CardSection/>
      <div class="mt-12 mb-10 h-px bg-gray-200"></div>
      <MarkdownContainer>
        <LandingProse />
      </MarkdownContainer>
    </div>
  </main>
</Layout>
