---
import Layout from "../layouts/Layout.astro";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import Header from "../components/Header";
import Hero from "../components/Hero.astro";

import { Icon } from "astro-icon";

import "@/styles/globals.css";
---

<Layout title="Welcome to Astro.">
  <Header showBorder={false} client:load />
  <main>
    <Hero />

    <ul role="list" class="link-card-grid z-50">
      <a href="./getting-started">
        <Card className="h-full">
          <CardHeader>
            <CardTitle className="flex gap-2"><Icon class="h-6" name="uil:rocket"/> Getting Started </CardTitle>
          </CardHeader>
          <CardContent>
            <p>
              Learn how to get the UI editor up and running and editing your
              first app.
            </p>
          </CardContent>
        </Card>
      </a>
      <a href="./how-to">
        <Card className="h-full">
          <CardHeader>
            <CardTitle className="flex gap-2"><Icon class="h-6" name="bi:card-checklist"/> How Tos </CardTitle>
          </CardHeader>
          <CardContent>
            <p>
              Learn how to get the UI editor up and running and editing your
              first app.
            </p>
          </CardContent>
        </Card>
      </a>
      <a href="./FAQs">
        <Card className="h-full">
          <CardHeader>
            <CardTitle className="flex gap-2"><Icon class="h-6" name="bi:question-circle"/> FAQs </CardTitle>
          </CardHeader>
          <CardContent>
            <p>Answers to common questions about the UI editor.</p>
          </CardContent>
        </Card>
      </a>
      <a href="./live-demo">
        <Card className="h-full">
          <CardHeader>
            <CardTitle className="flex items-center gap-2">
              <Icon class="h-6" name="bi:laptop"/>
              Live Demo
              

            </CardTitle>
          </CardHeader>
          <CardContent>
            <p>
              See the UI editor in action by using it directly in your browser. No install needed. Provides copyable code for your app.
            </p>
          </CardContent>
        </Card>
      </a>
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
