---
import Header from "../components/Header";
import Layout from "../layouts/Layout.astro";


import { SUE } from "editor-component-lib";

import "editor-component-lib/build/style.css"

import "@/styles/globals.css";
---

<Layout title="Welcome to Astro.">
  <Header showBorder={false} client:load />
  <main class="h-[800px]">
   <h1>Hi there</h1>
   <SUE client:only="React"/>
   
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
 
</style>
