---
import Header from "../components/Header";
import FullPageLayout from "../layouts/FullPageLayout.astro";


import { SUE } from "editor-component-lib";

import "editor-component-lib/dist/style.css"

import "@/styles/globals.css";
---

<FullPageLayout title="Welcome to Astro.">
  <Header showBorder={true} client:load />
  <!-- Need min-h-0 to avoid growing over the allotted size  -->
  <main class="p-6 h-full w-full relative min-h-0">
   
    <div class="p-6 h-full max-h-full relative bg-gray-900/5 ring-1 ring-inset ring-gray-900/10 rounded-xl">
      <SUE client:only="React"/>
    </div>
   
  </main>
</FullPageLayout>
