.emptyGridPanel {
  position: absolute;
  height: 100%;
  display: grid;
  place-content: center;
  justify-items: center;
  gap: var(--vertical-spacing);
  width: 100%;
}

.emptyMessage {
  font-style: italic;
  opacity: 0.5;
}
