.mainGridContainer {
  display: grid;
  height: 100%;
  position: relative;
  grid-template-columns: var(--main-grid-columns);
  grid-template-rows: var(--main-grid-rows);
  gap: var(--main-grid-gap);
  padding: var(--main-grid-gap);
}

.newItemDragDetector {
  grid-area: 1/1/-1/-1;
  padding: 1rem;
  margin: calc(-1 * var(--main-grid-gap));
}
