.editor {
  --main-gap: var(--pad, 1rem);
  /* Take into account the extra gap in spacing */
  --row-controls-gap: calc(var(--unit-input-width, 30px) - var(--main-gap));
  --col-controls-gap: calc(50px - var(--main-gap));
  display: grid;
  grid-template-columns: 300px var(--row-controls-gap) 1fr;
  grid-template-rows: var(--col-controls-gap) auto 1fr auto;
  gap: var(--main-gap);
  /* The dots are reserved space for the tract controls to sit in */
  grid-template-areas:
    "settings      .   .   "
    "settings      . editor"
    "instructions  . editor"
    "items         . editor";
}
