.editor {
  padding: 1rem;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  grid-template-areas:
    "settings     editor"
    "instructions editor"
    "elements     editor";
}
