.editor {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  gap: var(--pad, 1rem);
  grid-template-areas:
    "settings     editor"
    "instructions editor"
    "items     editor";
}
