.menuBar {
  --editor-radius: var(--corner-radius, 1rem);
  --menu-bar-pad: 5px;
  --menu-bar-height: calc(100% - 2 * var(--menu-bar-pad));
  --buttons-container-width: 70px;
  --button-diameter: 12px;
  --button-color: var(--rstudio-blue);
  --outline-color: var(--light-grey);
  --border-type: 1px solid var(--outline-color);
  width: 100%;
  height: 100%;
  border-bottom: var(--border-type);
  border-radius: var(--editor-radius) var(--editor-radius) 0 0;
  background: var(--off-white);
  display: flex;
}

.urlBox {
  width: calc(100% - var(--buttons-container-width) - var(--menu-bar-pad));
  margin-top: var(--menu-bar-pad);
  height: var(--menu-bar-height);
  border: var(--border-type);
  border-radius: 8px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.urlBox > span {
  margin-left: 5px;
  font-family: monospace;
}

.buttons {
  width: var(--buttons-container-width);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.buttons > div {
  background: var(--button-color);
  width: var(--button-diameter);
  height: var(--button-diameter);
  border-radius: calc(var(--button-diameter) / 2);
}
