.OptionsList {
  height: 100%;
  display: grid;
  /* As many columns as will fit */
  grid-template-columns: repeat(auto-fit, auto);
  justify-content: center;
  justify-items: center;
  align-content: start;
  padding: 12px;
  gap: 4px;
}

.OptionItem {
  width: 100%;
  aspect-ratio: 1;
  border-radius: var(--corner-radius, 10px);
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  align-content: center;
  place-items: center;
  position: relative;
  cursor: grab;
  font-size: 1.05rem;
  padding: 5px;
}

.OptionItem:hover {
  outline: var(--outline);
}
.OptionItem:active {
  cursor: grabbing;
}
.OptionItem > img {
  --scaling: 2;
  width: calc(150px / var(--scaling));
}
.OptionItem > svg {
  color: var(--rstudio-blue);
}
