.OptionsList {
  height: 100%;
  display: grid;
  /* As many 100px wide columns as will fit, but stretch to now allow any dead
  space */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
  justify-items: center;
  align-content: start;
  padding: 12px;
  gap: 10px;
}

.OptionItem {
  --size: 120px;
  width: 100%;
  aspect-ratio: 1;
  border-radius: var(--corner-radius, 10px);
  display: grid;
  gap: 5px;
  grid-template-rows: auto auto;
  justify-content: center;
  align-content: center;
  place-items: center;
  position: relative;
  cursor: grab;
  font-size: 1.05rem;
}

.OptionItem:hover {
  border: var(--outline);
}
.OptionItem:active {
  cursor: grabbing;
}
.OptionItem > svg {
  color: var(--rstudio-blue);
}
