.OptionsList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px;
  gap: 5px;
}

.OptionItem {
  border: 1px solid var(--light-grey);
  border-radius: var(--corner-radius, 10px);
  width: 125px;
  height: 125px;
  display: grid;
  grid-template-rows: auto auto;
  place-items: center;
  position: relative;
}
