:root {
  --bg-color: #edf2f7;
  --rstudio-blue: #75aadb;
  --rstudio-blue-light: hsl(209, 59%, 85%);
  --rstudio-blue-transparent: #75aadb80;
  --rstudio-grey: #404040;
  --rstudio-white: #ffffff;
  --light-grey: #dddddd;
  --light-grey-transparent: #dddddd80;
  --background-grey: #e9edf3;
  --header-grey: #a5b3c2;
  --dark-grey: #95a7b7;
  --red: rgb(250, 83, 22);
  --font-color: #23262a;
  --selected-border-color: var(--rstudio-blue);
  --selected-border-width: 3px;
  --corner-radius: 5px;
  --card-header-height: 35px;
  --animation-speed: 0.2s;
  --animation-curve: ease-in-out;
  --outline-color: #9c9c9c;
  --outline: 1px solid var(--outline-color);
  --fonts-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fonts-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--fonts-body);
  color: var(--font-color);
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--fonts-heading);
  margin: 0;
  font-weight: normal;
  color: var(--rstudio-grey);
}

/* 
 By adding a disable-text-selection class to the page we can turn of selection
 so dragging wont cause all sorts of ugly text selection. */
.disable-text-selection * {
  user-select: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  font-size: 1.08rem;
}
