body {
  --rstudio-blue: #75aadb;
  --rstudio-grey: #404040;
  --rstudio-white: #ffffff;
  --light-grey: #c4c4c4b2;
  --selection-color: tomato;
  --selected-border-color: var(--rstudio-grey);
  --selected-border-width: 3px;
  --corner-radius: 5px;
  --card-header-height: 35px;
}
