:root {
  --bg-color: #edf2f7;
  --rstudio-blue: #75aadb;
  --rstudio-blue-transparent: #75aadb80;
  --rstudio-grey: #404040;
  --rstudio-white: #ffffff;
  --light-grey: #dddddd;
  --light-grey-transparent: #dddddd80;
  --background-grey: #e9edf3;
  --header-grey: #a5b3c2;
  --dark-grey: #95a7b7;
  --selected-border-color: var(--rstudio-blue);
  --selected-border-width: 3px;
  --corner-radius: 5px;
  --card-header-height: 35px;
  --animation-speed: 0.2s;
  --animation-curve: ease-in-out;
  --outline-color: #9c9c9c;
  --outline: 1px solid var(--outline-color);
}

* {
  box-sizing: border-box;
}
