.header {
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
  background: var(--rstudio-white, white);
}

.title {
  font-size: 1.75rem;
}

.leftSide {
  display: flex;
  align-items: center;
  height: 100%;
}

.leftSide > img {
  display: inline-block;
  margin: 0 1rem;
  height: 100%;
  border-radius: 1rem;
  padding: 0.5rem;
}
