.portalHolder {
  background-color: rgba(255, 255, 255, 0.735);
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
}

.portalModal {
  outline: 1px solid grey;
  width: 400px;
  background-color: var(--rstudio-white);
  display: flex;
  flex-direction: column;
  border-radius: var(--corner-radius);
}

.portalModal > div {
  padding: 1rem;
}

.title {
  color: white;
  background-color: var(--header-grey, green);
}

.body {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: space-around;
}
