.item {
  grid-column: var(--cols, 1);
  grid-row: var(--rows, 1);
  background-color: var(--color, rgba(34, 139, 34, 0.835));
  border-radius: var(--corner-radius);
  display: grid;
  grid-template-areas:
    "topLeft    top      topRight"
    "left       middle   right"
    "bottomLeft bottom   bottomRight";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

.cancelBox {
  position: absolute;
  width: 100%;
  height: 100%;
  /* low z index so the draggers sit above the cancel listener div */
  z-index: 0;
}

.item > span {
  color: var(--light-grey);
  justify-self: center;
  align-self: center;
  /* High z index so the draggers sit above the cancel listener div */
  z-index: 1000;
}

.middle {
  grid-area: middle;
  cursor: grab;
}
.top {
  grid-area: top;
  cursor: n-resize;
}
.bottom {
  grid-area: bottom;
  cursor: s-resize;
}
.left {
  grid-area: left;
  cursor: w-resize;
}
.right {
  grid-area: right;
  cursor: e-resize;
}
.topLeft {
  grid-area: topLeft;
  cursor: nw-resize;
}
.topRight {
  grid-area: topRight;
  cursor: ne-resize;
}
.bottomLeft {
  grid-area: bottomLeft;
  cursor: sw-resize;
}
.bottomRight {
  grid-area: bottomRight;
  cursor: se-resize;
}
