.container {
  position: relative;
  padding: 4px;
}

.container > input {
  width: 100%;
}

.container > label {
  font-weight: 700;
}

.container > select {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 1.1rem;
}
