.uiChooser {
  color: var(--rstudio-white, white);
}

.componentList {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.componentEntry {
  display: grid;
  background-color: var(--rstudio-white);
  color: var(--rstudio-grey);
  border-radius: var(--corner-radius);
  grid-template-columns: 1fr 1fr;
  box-shadow: var(--shadow);
  gap: 5px;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.componentEntry *:first-child {
  justify-self: end;
}

.uiScreenshot {
  width: 40px;
  height: 40px;
  background-color: aliceblue;
}
