.instructionList strong {
  font-weight: 500;
}

.instructionList svg {
  max-height: 1.3rem;
  margin-bottom: -5px;
}
.instructionList > ul {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0.75rem;
}
