.rowSizeControls,
.colSizeControls {
  --size: 20px;
  height: var(--size);
  width: var(--size);
  display: grid;
  position: relative;
}

.rowSizeControls {
  align-self: center;
  margin-left: calc(-1 * (var(--size) + var(--gap)));
  align-content: center;
  justify-content: end;
  height: 100%;
}
.colSizeControls {
  justify-self: center;
  width: 100%;
  margin-top: calc(
    -1 * (var(--size) + var(--gap) + var(--card-header-height, 35px))
  );
  justify-content: center;
  align-content: end;
}

.addTractButton {
  --size: 28px;
  --margin-offset: calc(-1 * var(--size) - 2px);
  --pad: 5px; /* This is matched to the css input to make them lineup nice*/
  width: var(--size);
  height: var(--size);
  padding: 0px;
  position: absolute;
  font-size: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  border: 0px solid rgba(255, 255, 255, 0);
  color: var(--dark-gray, gray);
  transition: color 0.2s, background-color 0.2s;
}

.addTractButton:hover {
  background-color: var(--dark-gray, gray);
  color: white;
}

.addTractButton svg {
  max-height: 100%;
  max-width: 100%;
}

.colSizeControls .addTractButton {
  right: var(--margin-offset);
  bottom: var(--pad);
}
.rowSizeControls .addTractButton {
  bottom: var(--margin-offset);
  right: var(--pad);
}
