# Run package checks for R package
# Workflow derived from https://github.com/rstudio/shiny-workflows
#
# NOTE: This Shiny team GHA workflow is overkill for most R packages.
# For most R packages it is better to use https://github.com/r-lib/actions
on:
  push:
    branches: [main, rc-**, dev]
  pull_request:
    branches: [main, dev]
  schedule:
    - cron: "0 13 * * 1" # every monday

concurrency:
  group: ci-pkg-checks-${{ github.ref }}-1
  cancel-in-progress: true

name: Package checks

jobs:
  # routine:
  #   uses: rstudio/shiny-workflows/.github/workflows/routine.yaml@v1
  R-CMD-check:
    uses: rstudio/shiny-workflows/.github/workflows/R-CMD-check.yaml@v1
    with:
      minimum-r-version: "3.6"
