.container {
  position: relative;
  padding: 4px;
}

.container > input {
  width: 100%;
}

.container > label {
  font-weight: 700;
}

.checkbox {
  /* outline: 1px solid salmon; */
  display: flex;
  align-items: center;
  gap: 4px;
}
